html, body {
    padding: 0;
    margin: 0;
    font-family: Consolas, sans-serif;
}

html {
    --cellSize: 120px;
    --cellGap: 12px;
}

body {
    background: #1e1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
*{
    box-sizing: border-box;
}
#game-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    max-width: 330px;
}

.lamp {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    opacity: .5;
}
.active {
    opacity: 1;
    filter: drop-shadow(2px 4px 6px black);
    scale: 1.2;
}
button{
    border: 0;
    width: 100%;
    height: 40px;
    background: #2a5699;
    color: #e1e1e1;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .15em;
    cursor: pointer;
}
button[disabled]{
    cursor: default;
    opacity: .5;
}